body {
  height: 100vh;
  background: no-repeat  url("./images/Desert.jpg") ;
  background-size: cover;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
